{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 style="color: #ff8d1e !important; font-weight: bold;" class="text-center">Assignment Video</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9Jnb5EYoGAs?si=7odV-VuxcfFJWMyS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}